body {
	background: url("../../img/cream-pixels.png") 0, 0, repeat;
	/*background-color: #3D5C44;*/
	color: #ddd;
}
a {
	color: #0f0;
	text-decoration: none;
}
a:hover {
	color: #f00;
}



/*Rediger menukort */
h1 {font-size: 2.5em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 300;
	color: #fff;
	margin: 1%;
	padding: 2%;
	text-align:center;
}

/*Her kan du redigere i menupunkterne */
p {	font-size: 1.2em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 100;
	color: #fff;
	padding: 2%;
	text-align:center;
	}



h2 {
	font-size: 1.8em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 100;
	color: #fff;
	margin-bottom:5%;
}

h3 {
	font-size: 1.1em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 100;
	color: #fff;
	
}

#wrapper {
	width:90%;
	margin: 0 auto;
	padding:0 auto;

	}
	

/*
#menupunkter {
	width:50%;
	margin: 0 auto;
	padding: 0 auto;
	text-align:center;
	}
*/

form {
	width:100%;
	margin: 0 auto;
	clear:both;
	
	}

.formfelt {
	width:45%;
	margin:0 2% 5% 2%;
	float:left;
	border:thin solid #000000;
	background-color: rgba(0, 0, 0, 0.4);
}


.text { height:25px; display:block; font-size:18px; width:98%;  margin: 1% auto 5% auto; }
.description { height:25px; display:block; font-size:18px; width:98%; margin: 1% auto 5% auto; }
.price { height:25px; font-size:18px; width:20%; min-width:50px;}

.button {
	margin: 0 auto;
	font-size:15px;
	width: 150px;
	height: 50px;
	}


.menu-main {}
.menu-main li {
	display: inline;
}





