body {
	background-color: #3D5C44;
	color: #ddd;
}
a {
	color: #0f0;
	text-decoration: none;
}
a:hover {
	color: #f00;
}



/*Rediger menukort */
h1 {font-size: 2.5em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 300;
	color: #fff;
	margin: 5px;
	padding: 20px;
	text-align:center;
}

/*Her kan du redigere i menupunkterne */
p {	font-size: 1.2em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 100;
	color: #fff;
	padding: 20px;
	text-align:center;
	}



h2 {
	font-size: 1.5em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 100;
	color: #fff;
}

#wrapper {
	width:100%;
	margin: 0 auto;
	}
	
#menupunkter {
	width:15%;
	margin: 0 auto;
	padding: 0 auto;
	}



.text {
	margin: 10% 70% 0 0;
	padding: 0 100% 100% 0;
	font-size:18px;
	}
	
.button {
	margin-top:10px;
	margin-bottom:40px;
	}


.menu-main {}
.menu-main li {
	display: inline;
}





